.container {
    display: grid;
    grid-template-columns: 200px 700px;
    grid-template-rows: 100px 600px;
    grid-template-areas: "header header" "sidebar main";
}

.item {
    border: 5px solid red;
    counter-increment: item;
}

.item::before {
    content: counter(item);
}


.item:nth-of-type(1) {
    grid-area: header;

}

.item:nth-of-type(2){
    border-color: blue;
    grid-area: sidebar;

}

.item:nth-of-type(3){
    border-color: green;
    grid-area: main;
}